<p id="notice"><%= notice %></p>
<button class='btn btn-primary' id = "new_form">New</button>
<div id="new_model_form" style="display:none;">
  <%= render :partial => "new", locals: {language: Language.new}%>
</div>

<h1>Languages</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.name %></td>
        <td><%= link_to 'Edit', edit_language_path(language) %></td>
        <td><% link_to 'Destroy', language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  jQuery(function($) {
  return $(document).ready(function() {
    return $("#new_form").click(function() {
      $("#new_model_form").css("display", "block");
      return $(this).hide();
    });
  });
});
</script>
